{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "ignorePatterns": [
    "*.js"
  ],
  "rules": {
    "no-trailing-spaces": ["warn"],
    "no-empty": "off",
    "no-inner-declarations": "off",
    "quotes": "off",
    "@typescript-eslint/quotes": ["warn", "single", "avoid-escape"],
    "semi": "off",
    "@typescript-eslint/semi": ["warn", "never"],
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-unused-vars": "off"
  },
  "env": {
    "node": true
  }
}